*{
    padding: 0;
    margin: 0;
}
.container{
   width: 100%;
   min-height: 100vh;
    background:linear-gradient(135deg, red ,blue);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.app{
    width: 55vh;
    height: 70vh;
    background-color: aliceblue;
    margin-top: 50px;
    border-radius: 20px;
}
h2{
    margin-left: 30px;
    display: flex;
    align-items: center;
    

}
h2 img{
    
    margin:10px 20px ;
    width:27px;
    height: auto;

}
.inputDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(223, 232, 241);
    border-radius: 20px;
    margin: 10px 15px;
    
    
}
input{
    border: none;
    outline: none;
    border-radius: 20px;
    font-size:15px ;
    margin: 0px auto;
    padding:5px;
    background-color: transparent;
    
}

button{
    border: 0;
    border-radius: 20px;
    font-size:15px ;
    padding:15px 25px ;
    background-color:rgb(254, 105, 19);
    cursor: pointer;
    color: aliceblue;
}


button:hover {
    background-color:rgb(250, 92, 0) ;
}
ul{
    margin-top: 15px;
}
ul li{
    user-select: none;
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    
}

ul li::before{
    content:'';
    width: 20px;
    height: 20px;
    
    left: 20px;
    top: 13px;
    position: absolute;
    background-image: url(/Todo-List-Using-Javascript/assets/unchecked-checkbox.png);
    background-size: cover;
    background-position: center;
}

ul li.checked{
    text-decoration: line-through;
   
}
ul li.checked::before{
    background-image: url(/Todo-List-Using-Javascript/assets/checked-checkbox.png);
}
ul li span{
    position: absolute;
    right: 20px;
    
    padding: 2.5px 6px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    color: #555;
}

ul li span:hover{
    background: #edeef0;
    cursor: pointer;
}

