* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --primary-color: #ff6f61;
  --secondary-color: #4a90e2;
  --white-color: #d2d2d2;
  --background-color1: #1a1919;
  --background-color2: #333232;
  --p-1: 5px;
  --p-2: 10px;
  --p-3: 15px;
  --p-4: 20px;
  --p-5: 25px;
  --m-1: 5px;
  --m-2: 10px;
  --m-3: 15px;
  --m-4: 20px;
  --m-5: 25px;
  --radius-1: 5px;
  --radius-2: 10px;
  --radius-3: 15px;
  --radius-4: 20px;
  --radius-5: 25px;
}

main {
  padding: var(--p-4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  border-radius: var(--radius-3);
  padding: var(--p-3);
  width: 100%;
  height: 60px;
  background-color: var(--background-color2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: var(--primary-color);
  font-size: 1.5rem;
}
nav button {
  padding: var(--p-2) var(--p-3);
  border: none;
  border-radius: var(--radius-4);
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav button:hover {
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
}

section {
  padding-block: var(--p-4);
  flex-grow: 1;
  width: 100%;
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: var(--m-4);
}
section .sectionColumns {
  background-color: var(--background-color2);
  flex-grow: 1;
  height: 100%;
  border-radius: var(--radius-3);
  padding: var(--p-3);
  display: flex;
  flex-direction: column;
  max-width: calc(100% / 3);
  gap: var(--m-2);
}

.sectionColumns .sectionHeadings {
  font-size: 1.25rem;
  margin-bottom: var(--m-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white-color);
}

.sectionColumns .task {
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: var(--m-4);
  overflow: hidden;
  cursor: grab;
  background-color: var(--background-color1);
  border-radius: var(--radius-2);
  position: relative;
}

.task .upper {
  background-color: var(--primary-color);
  padding: var(--p-3) var(--p-2);
  font-size: 1rem;
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.task .lower {
  padding-inline: var(--p-2);
  padding-bottom: var(--p-3);
  border-radius: var(--radius-2);
  font-size: 0.9rem;
  color: var(--white-color);
  transform: translateY(-100%);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 0;
  opacity: 0;
  scale: 0.5;
}
.task:has(:hover) .lower {
  transform: translateY(0);
  height: auto;
  opacity: 1;
  scale: 1;
}

.taskDltBtn {
  border: none;
  background-color: var(--secondary-color);
  padding: var(--p-1) var(--p-2);
  border-radius: var(--radius-3);
  color: var(--white-color);
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
.taskDltBtn:hover {
  scale: 1.1;
}

.addTaskWindow {
  min-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: var(--background-color2);
  padding: var(--p-4);
  border: 3px solid var(--primary-color);
  border-radius: var(--radius-3);
  display: flex;
  flex-direction: column;
  gap: var(--m-3);
}
.addTaskWindow form {
  display: flex;
  flex-direction: column;
  gap: var(--m-3);
}

form input,
form select,
form textarea {
  color: var(--secondary-color);
  outline: none;
  padding: var(--p-2);
  border-radius: var(--radius-2);
  border: none;
  font-size: 1rem;
}

form label {
  color: var(--primary-color);
  font-size: 1rem;
}
form button {
  padding: var(--p-2);
  border: none;
  border-radius: var(--radius-2);
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

form button:hover {
  background-color: var(--secondary-color);
}
